* {
    text-decoration: none;
    color: black;
    list-style: none;
    padding: 0;
    margin: 0;
}


body {
    background-color:bisque;
    display: grid;
    grid-template-areas:    'header header  header'

                            'main  main    main'
                            'footer footer  footer';
    grid-template-columns: 100%;
}
header{
    grid-area: header;
    padding: 0.9rem;
    background-color: rgb(125, 49, 49);

    display: flex;
    justify-content: space-between;
    align-items: center;
}
header > nav{
    display: flex;
    gap: 1.5rem;
}
nav > a {
    background-color: beige;
    padding: 0.3rem;
    border-radius: 0.3rem;
}
button {
    padding: 0.3rem;
}
.deck-image-container{
    position: relative;
    overflow: hidden;
    border: 0.12rem solid rgb(85, 15, 15);
    width: 15rem;
    height: 18rem;
    border-radius: 1.2rem;    
}
.deck-image{
    position: absolute;
    left: -6.96rem;
    top: -4.75rem;
    
}
.active{
    background-color:burlywood;
}

h2{
    color: white;
}

.mainHead{
    padding: 1.5em 0.6em 0.6em 3em;
    display: flex;
    grid-area: mainHead;
    background-color:chocolate;
}
aside{
    border-right: 0.3rem solid black;
    background-color: aqua;
}
.selectionBar{
    display: flex;
}
.sortChoise{
    display: flex;
    min-width: 80%;
    align-items: center;
    justify-content: center;
}
.sortChoise > label{
    padding-right: 0.3rem;
}
#sortBy{
    margin-right: 1.5rem;
}
select{
    padding: 0.15rem;
}
a:hover{
    background-color:rgb(222, 146, 91);
}
.deck-summary:hover{
    transform: scale(102%);
}
.deck-summary:hover > .deck-image-container{
    transform: scale(117%);
}
.deck-summary {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    max-width: max-content;
    background-color: burlywood;
    padding: 0.9rem 1.5rem 0.6rem 1.5rem;
    border-radius: 0.9rem;
}
.deck-summary > ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.deck-summary > ul > li > img{
    padding-right: 0.3rem;
}
.deck-summary > img {
    border-radius: 0.6rem;
}
#decks{
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3rem;
}
#page-nav{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.change-page-button{
    border: none;
    padding: 0.3rem;
    margin: 1.2rem;
    border-radius: 0.3rem;
    background-color:cornsilk;
}
.change-page-button:hover{
    background-color: blanchedalmond;
}

aside{
    grid-area: aside;
    
}