*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-size: 1.2rem;
}
main{
    display: grid;
    grid-template-areas:'left right right';
    grid-template-columns: 33%;
    gap: 3rem;
    padding: 3rem;
}
.leftCD{
    grid-area: left;
    align-items: center;
}
.cardContainer{
    position: sticky;
    top: 3rem;

}
.leftCD > .cardContainer > form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}
.leftCD > .cardContainer > form > select{
    padding: 0.3rem;
    font-size: 1.2rem;
}
.leftCD > .cardContainer > form > button{
    padding: 0.3rem;
}
.rightCD{
    grid-area: right;
}
.cardImage{
    width: 100%;
}
.cardDetails .row .columnA {
    background-color:burlywood;
}
.cardDetails .row .columnB {
    padding-left: 12%;
}
.flavortextbox {
    font-style: italic;
}
.cardImage {
    border-radius: 6%;
}
@media all and (width < 804px){
    main{
        display: block;
    }
    .leftCD{
        margin-bottom: 3rem;
    }
    .cardContainer{
        display: none;
    }
}
/* Butten Fade (WIP)
.addDeckButton {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
.buttonText {
    background-color: rgb(29, 29, 29);
    color: white;
    font-size: 40px;
    padding: 16px 32px;
}
.cardImage {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}
.cardContainer:hover .cardImage{
    opacity: 0.3;
}
.cardContainer:hover .addDeckButton{
    opacity: 1;
}
*/