* {
    text-decoration: none;
    color: black;
    list-style: none;
    padding: 0;
    margin: 0;
}
:root {
    --main-colour: bisque;
    --header-colour:  rgb(122, 55, 55);
    --subHeader-colour: chocolate;
    --light-colour:  rgb(196, 196, 196);
    --dark-colour: #313131 ;
    --active-colour: rgba(176, 176, 176, 0.589);
    --bijhouden: rgb(222, 146, 91);

    /* BORDER COLOURS */
    --ledgendaryBorder-colour: ;
    
}


body {
    background-color: var(--main-colour);
    display: grid;
    grid-template-areas:    'header     header      header'
                            'mainHead   mainHead    mainHead'
                            'aside      main        main';
    grid-template-columns: 100%;
}
header{
    grid-area: header;
    padding: 0.9rem;
    background-color: var(--header-colour);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav{
    display: flex;
    font-size: 1.2rem;
}

nav ul{
    display: flex;
    list-style-type: none;
    text-decoration: none;
    gap: 2rem;
}


nav ul li{
    list-style: none;
    text-decoration: none;
}

nav ul li a{
    text-decoration: none;
    color: var(--light-color);
}

li > a::after {
    content: "";
    display: block;
    margin: auto;
    background: transparent;
    height: 3px;
    
    top: 5px;
    width: 0;
    border-radius: 3px;

    transition: 0.9s;
    
}

li > a:hover::after, .active::after {
    width: 100%;
    background: var(--light-color);
}
.active::after {
    width: 100%;
    background: var(--active-color);
}

nav > ul > li {
    padding: 0.3rem;

}

button {
    padding: 0.3rem;
}

.deck-image-container{
    position: relative;
    overflow: hidden;
    border: 0.12rem solid rgb(85, 15, 15);
    width: 15rem;
    height: 18rem;
    border-radius: 1.2rem;    
}
.deck-image{
    position: absolute;
    left: -6.96rem;
    top: -4.75rem;
    
}
.active{
    color:var(--active-color);
}

h2{
    color: var(--dark-color);
}   

.mainHead{
    padding: 1.5em 0.6em 0.6em 3em;
    display: flex;
    flex-wrap: wrap;
    grid-area: mainHead;
    background-color:var(--subHeader-color);
}
aside{

    background-color: aqua;
}
.selectionBar{
    display: flex;
}
.sortChoise{
    display: flex;
    min-width: 80%;
    align-items: center;
    justify-content: center;
}
.sortChoise > label{
    padding-right: 0.3rem;
}
#sortBy{
    margin-right: 1.5rem;
}

select{
    padding: 0.15rem;
}


.deck-summary:hover, .deck-summary:hover > .deck-image-container{
    transition: ease-in-out 0.3s;
}

.deck-summary:hover{
    background-color:rgb(222, 146, 91);
    transform: scale(102%);

}
.deck-summary:hover > .deck-image-container{
    transform: scale(117%);
    
}
.deck-summary {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    max-width: max-content;
    background-color: burlywood;
    padding: 0.9rem 1.5rem 0.6rem 1.5rem;
    border-radius: 0.9rem;
}
.deck-summary > ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.deck-summary > ul > li > img{
    padding-right: 0.3rem;
}
.deck-summary > img {
    border-radius: 0.6rem;
}
#decks{
    padding: 1.5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3rem;
}
#page-nav{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.change-page-button{
    border: none;
    padding: 0.3rem;
    margin: 1.2rem;
    border-radius: 0.3rem;
    background-color:cornsilk;
}
.change-page-button:hover{
    background-color: blanchedalmond;
}

aside{
    grid-area: aside;
}

#cardClass{
    display: flex;
}