<footer>        
    <nav id="page-nav">
        <button class="change-page-button pre-page disabled">Vorige</button>
        <section class="page-info flex">
            <p>Pagina</p>
            <span class="current-page-nr">1</span>
            <p>Van de <span class="total-pages-count">2</span></p>
        </section>
        <button class="change-page-button next-page"><a href="./decks2.html">Volgende</a></button>
    </nav>
</footer>