<!DOCTYPE html>
<html lang="BE-nl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Drawtest</title>
    
    <link rel="stylesheet" href="/public/css/Styles-test.css">
    <link rel="stylesheet" href="/public/css/style-universal.css">
    <link rel="stylesheet" href="/public/css/style-modal.css">
    <link rel="stylesheet" href="/public/css/style-header.css">

    <link rel="stylesheet" href=".//css/Styles-test.css">
    <link rel="icon" type="image/png" href="/public/assets/images/general/siteIcon.png">
    
</head>
<body>



  <header>
    <nav>
        <ul>
            <li class="home-link"><a href="./homepage.html">Startpagina</a></li>
            <li class="decks-link"><a href="./decks.html" >Decks</a></li>
            <li class="draw-link"><a href="./drawtest" class="active">Draw Test</a></li>
            <li><button class="header-btn showM logM" id="loginStatus">Afmelden<status>1</status></button></li>
        </ul> 
    </nav>
</header>