<header>
    <nav>
        <ul>
            <li class="flex-break"></li>
            <%
            let homeActive = "";
            let decksActive = "";
            let drawTestActive = "";
            switch(title){
                case "Home":
                    homeActive = `class="active"`;
                    break;
                case "Decks":
                    decksActive = `class="active"`;
                    break;
                case "Draw Test":
                    drawTestActive = `class="active"`
                    break;
            }%>
            <li class="home-link"><a href="/homepage" <%-homeActive%>>Startpagina</a></li>
            <li class="decks-link"><a href="/decks"  <%-decksActive%>>Decks</a></li>
            <li class="draw-link"><a href="/drawtest" <%-drawTestActive%>>Draw Test</a></li>
            <li><button class="header-btn showM logM" id="loginStatus">Afmelden<status>1</status></button></li>

        </ul> 
    </nav>
</header>