<!DOCTYPE html>
<html lang="nl-BE">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/assets/images/general/siteIcon.png">
    <title><%=title%></title>

    <link rel="stylesheet" href="/css/style-universal.css">
    <link rel="stylesheet" href="/css/style-header.css">
    <link rel="stylesheet" href="/css/style-modal.css">
    <link rel="stylesheet" href="/css/style-bert.css">
    

</head>
<body>