<%-include('partials/page-head')%>
<%-include('partials/header')%>

<p>fout</p>
<br>
<p>Try going to:</p>
<ul>
    <li><a href="/deck/0">Deck 0</a></li>
    <li><a href="/deck/1">Deck 1</a></li>
</ul>




<%-include('partials/page-tail')%>