<%- include("partials/header") -%>




<main>


  <section class="sub-header">
    <h1>Drawtest</h1>
    
  </section>


  <section id="layout">

<section id="forms-draw">

<article id="formDraw" action="">
  <form action="/drawtest" method="post">
    <label for="decks">Select deck</label>
    <select name="Selection">
<%
                
      for(let i =0;i<ListCardReady.length; i++){  
%>
      
  <option name="blabla" type="submit"  value="<%=i%>"><%=ListCardReady[i].deckName%></option>
      
      <% 
    }
      %>   
    </select>
    <button id="btnDrawTest"  name="buttonType"  type="submit" value="changeDeck" style="font-size: 0.7rem; padding: 0.03rem;">&nbsp;Select&nbsp;  </button>
  </form>
  
    <br><br>
    <form action="/drawtest" method="post">
    <button id="btnDrawTest"  name="buttonType" id="drawButton" type="submit" value="NewCard">Draw Card</button>
    </form>
  

    
    <br>
    <img src="/public/assets/images/backside-card.png" id="drawPile" alt="">
    <br>
    <form action="/drawtest" method="post">
    <button id="btnDrawTest" name="buttonType" type="submit" value="NewHand" >
      New Hand</button>
    </form>
    
    <form id="draw-chance"  action="">
      <label for="drawchance">Calculate chance to draw card</label> <br>
      <input type="text" placeholder="Select card">
      <p>Chance to draw: <a href=""></a>5%</p>
      <img src="/public/assets/images/placeholders/planeswalkers.jpg" id="drawPile" alt="">
  </form>

</article>

</form>
</section>


  <article id="previewDraw">
    <li>
      <!-- these are invisible to fix misaligned stuff -->
      <img src="/public/assets/images/placeholders/planeswalkers.jpg" id="drawPile" style="visibility: hidden;" alt="">
      </li>
      <li>
      
        <img src="/public/assets/images/placeholders/planeswalkers.jpg" id="drawPile" style="visibility: hidden;" alt="">
        </li>
        <li>
      
          <img src="/public/assets/images/placeholders/planeswalkers.jpg" id="drawPile" style="visibility: hidden;" alt="">
          </li>
          <li>
      
            <img src="/public/assets/images/placeholders/planeswalkers.jpg" id="drawPile" style="visibility: hidden;" alt="">
            </li>
            <li>
      
              <img src="/public/assets/images/placeholders/planeswalkers.jpg" id="drawPile" style="visibility: hidden;" alt="">
              </li>
              <li>
      
                <img src="/public/assets/images/placeholders/planeswalkers.jpg" id="drawPile" style="visibility: hidden;" alt="">
                </li>
    

    <%
                
    for(let i =0;i<drawnCards&&i<ListCardReady[selectedDeck].simpleCard.length; i++){  
%>

    
    <li>
      
     
      
      <img src="<%=ListCardReady[selectedDeck].simpleCard[i].img%>" id="drawPile" alt=""> 



    </li>
    
    <% 
  }
    %>   
  </article>
</section>



</main>
<footer>

</footer> 



<section id="modals">

  <modal id="loginM">

      <button class="hideM">X</button>
      <form action="#" onsubmit="setLoginStatus()" class="modal-form">
          <label for="username">Gebruikersnaam</label>
          <br>
          <input type="text" id="username" required>
          <br>
          <label for="password">Paswoord</label>
          <br>
          <input type="text" id="password" required>
          <br>
          <button id="request-login-btn" type="submit">Aanmelden</button>
      </form>

  </modal>

  <modal id="logoutM">

      <button class="hideM">X</button>
      <form action="./index.html" class="modal-form">
          <p>Weet u zeker dat u wilt:</p>
          <br>
          <button type="submit">Afmelden</button>
      </form>

  </modal>

  <modal id="cardM">

      <button class="hideM">X</button>

      <img src="./cardDetails.html" alt="">

  </modal>

  <modal id="errorM">

      <button class="hideM">X</button>
      <p>
          U hebt geen toegang to deze pagina.
      </p>

  </modal>

</section>

<script src="/public/js/modals.js"></script>
 
</html>