<%- include("partials/header") -%>
<main>


  <section class="sub-header">
    <h1>Drawtest</h1>
    
</section>

<section id="forms-draw">

<article id="formDraw" action="">
    <label for="decks">Select deck</label>
    <select name="decks" id="decks">
      <option value="">Deck1</option>
      <option value="">Deck2</option>
      <option value="">Deck3</option>
    </select>
  
    <br><br>
    <form action="/drawtest" method="post">
    <button  id="drawButton" type="submit">DRAW CARD</button>
    </form>
  

    
    <br></br>
    <img src="/public/assets/images/backside-card.png" id="drawPile" alt="">
    <br><br>
    <input type="submit" value="New Hand">
    
    

</article>

    
  

  <form id="draw-chance"  action="">
    <label for="drawchance">Calculate chance to draw card</label> <br>
    <input type="text" placeholder="Select card">
    <p>Chance to draw: <a href=""></a>5%</p>
    <img src="/public/assets/images/placeholders/planeswalkers.jpg" id="drawPile" alt="">
</form>

</form>
</section>


  <article id="previewDraw">

    



    





    <%

    for(let i =0;i<drawnCards; i++){  
%>

    
    <ul>
      <img src="<%=ListCardReady[i].image_uris.normal %>" id="drawPile" alt="">
     

      <%#ListCardReady.splice(0, 1);%> 
      <%#ListCardReady.length;  %>
      <%=i  %>
      
      

    </ul>
    
    <% 
  }
    %>    
  </article>

</main>
<footer>

</footer> 



<section id="modals">

  <modal id="loginM">

      <button class="hideM">X</button>
      <form action="#" onsubmit="setLoginStatus()" class="modal-form">
          <label for="username">Gebruikersnaam</label>
          <br>
          <input type="text" id="username" required>
          <br>
          <label for="password">Paswoord</label>
          <br>
          <input type="text" id="password" required>
          <br>
          <button id="request-login-btn" type="submit">Aanmelden</button>
      </form>

  </modal>

  <modal id="logoutM">

      <button class="hideM">X</button>
      <form action="./index.html" class="modal-form">
          <p>Weet u zeker dat u wilt:</p>
          <br>
          <button type="submit">Afmelden</button>
      </form>

  </modal>

  <modal id="cardM">

      <button class="hideM">X</button>

      <img src="./cardDetails.html" alt="">

  </modal>

  <modal id="errorM">

      <button class="hideM">X</button>
      <p>
          U hebt geen toegang to deze pagina.
      </p>

  </modal>

</section>
</body>

<script src="/public/js/modals.js"></script>
<script src="/public/js/drawNewCard.js"></script> 
</html>