header{
    
    grid-area: header;
    padding: 0.9rem;
    background-color: rgb(125, 49, 49);

    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.sub-header{
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: sub-header;
    background-color:var(--subHeader-colour);
    position: sticky;
    top: 0;
    z-index: 1;
}

.sub-header :nth-child(2){
    display: flex;
    margin: auto;
    align-items: center;
}


h2{

    font-size: 1.8rem;
   
}

p{
    font-size: 1rem;
    
}
button {
    padding: 0.3rem;
    margin-right: 2rem;
}




#drawPile{

    width: 8rem;
    height: auto;
}

#previewDraw{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5rem;

    margin-top: 5rem;
    

}
#formDraw{

    margin-left: 20%;
    margin-right: auto;
    margin-top: 4rem;
    align-items: center;
}


#drawButton{
    align-self: center;
    padding: 0.3rem;
    margin-right: 6rem;
}

#forms-draw{

    display: flex;
    flex-direction: row;
}

#draw-chance{

    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    align-items: center;

    background-color: burlywood;
    padding: 1rem;
    border-radius: 0.9rem;

    display: flex;
    flex-direction: column;
    
}




