header{
    grid-area: header;
    padding: 0.9rem;
    background-color: var(--header-colour);

    justify-content: space-between;
    align-items: center;
}

nav{
    font-size: 1.2rem;
    width: 100%;
}

nav ul{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style-type: none;
    text-decoration: none;
}


nav ul li{
    list-style: none;
    text-decoration: none;
    margin-right: 1.5rem;
}

nav > ul > li:last-child{
    margin-left: auto;
    margin-right: 0;
}
.header-btn:hover > button{
    border-radius: 0.3rem;
    background-color: var(--active-colour);
}

nav ul li a{
    text-decoration: none;
    color: var(--light-colour);
}

li > a::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    top: 5px;
    width: 0;
    border-radius: 3px;
    transition: 0.9s;
}

li > a:hover::after, .active::after {
    width: 100%;
    background: var(--light-colour);
}


.active::after {
    width: 100%;
    background: var(--active-colour);
}

nav > ul > li {
    padding: 0.3rem;
}

.active{
    color:var(--active-colour);
}
.flex-break{
    height: 0;
    width: 100%;
    display: none;
}
@media all and (width < 621px) {
    .home-link{
        order: 0;
    }
    nav > ul > li:last-child{
        order: 1;
    }
    .flex-break{
        display: block;
        order: 2;
    }
    .decks-link{
        order: 3;
        margin-left: auto;
    }
    .deckDetail-link{
        order: 4;
    }
    .draw-link{
        order: 5;
        margin-right: auto;
    }

}
@media all and (width < 466px) {
    .home-link{
        order: 0;

    }
    .decks-link{
        order: 2;
        margin-left: auto;
    }
    .draw-link{
        order: 4;
        margin-right: auto;
    }
    .header-btn{
        order: 1;
        margin-left: auto;
    }
}