/* MODALS */
status{
    display: none !important;
}

#modals{
    z-index: 99;
    position: fixed;
    top: 0;
    display: none;
    width: 100vw;
    height: 100vh;
    backdrop-filter: invert(60%);
}

.showM:hover{
    cursor: pointer;
}

modal{
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 20vh; /* Niet de meest elegante centering =/ mr de rest werkte ni -.- */
    z-index: 99;
    display: none;
    background-color: var(--active-colour);
    padding: 3rem;
    border: var(--secondary-colour) 0.3rem solid;
    border-radius: 0.6rem;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    backdrop-filter: invert(100%);
}


.hideM{
    position: absolute;

    width: 1.2rem;
    height: 1.2rem;
    right: 0.3rem;
    top: 0.3rem;
    
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--header-colour);
    font-weight: bolder;
    background-color: var(--primary-colour);

    border-radius: 0.21rem;
    padding: 0.51rem;
}

.hideM:hover{
    transform: scale(111%);
    transition: ease-in-out 0.18s;
    background-color: var(--secondary-colour);
}

.modal-form > input{
    background-color: var(--primary-colour);
    margin-bottom: 1.2rem;
}
.modal-form > input:focus{
    outline: var(--header-colour) 0.12rem solid;
}
modal input {
    background-color: var(--primary-colour);
}

button{
    margin-left: 3rem;
    border-radius: 0.3rem;
    background-color: var(--primary-colour);
}
#request-login-btn:hover{
    background-color: var(--secondary-colour);
    transform: scale(111%);
    transition: ease-in-out 0.3s;
}

iframe{
width: 100%;
}
#cardM{
    margin-top: auto;
    padding: 1.2rem;
    width: 93vw;
    height: 93vh;
}
/* EINDE MODAL*/