@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans/OpenSans-Regular.ttf) format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans/OpenSans-Bold.ttf) format('truetype');
    font-weight: bold;
}
@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans/OpenSans-ExtraBold.ttf) format('truetype');
    font-weight: bolder;
}
@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans/OpenSans-Light.ttf) format('truetype');
    font-weight: lighter;
}
@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans/OpenSans-Italic.ttf) format('truetype');
    font-style: italic;
}

:root {
    /*BLACK AND WHITE*/
    --light-colour:  rgb(255, 251, 252);
    --dark-colour: #313131 ;

    /*MAIN COLOUR SCHEME*/
    --primary-colour: bisque;
    --secondary-colour: burlywood;
    --header-colour:  rgb(122, 55, 55);
    --subHeader-colour: chocolate;


    --active-colour: rgb(222, 146, 91);

    /*RESERVE COLOURS*/
    --bijhouden: ;
    --bijhoude2: rgba(176, 176, 176, 0.589);


    /* CARD BORDER COLOURS */

    --common-colour: var(--dark-colour);
    --uncommon-colour: silver;
    --rare-colour: gold;
    --mythic-rare-colour: rgba(205, 134, 26, 0.947);
    
}

*{
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    color: var(--dark-colour);
    text-decoration: none;
    list-style: none;
    margin: 0;
}
body{
    background-color: var(--primary-colour);
}

button, input, select {
    background-color: var(--light-colour);
    border-radius: 0.3rem;
    font-weight: 400;
}
img{
    border-radius: 4.2%;
}
.sub-header{
    grid-area: sub-header;
    width: 100;
    position: sticky;
    z-index: 90;
    top: 0;
}
.sub-header-top{
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color:var(--subHeader-colour);
}

/* INFO TEXT BOX */
#info-bar{
    grid-area: info;
    z-index: -1;
    display: flex;
    justify-content: center;
    padding: 0.3rem;
    position: relative;
    /* W3 scools from here
    https://www.w3schools.com/css/tryit.asp?filename=trycss3_animation_fill-mode3*/
    animation-name: infoHide;
    animation-duration: 4.5s;  
    animation-fill-mode: both;
}
  
  @keyframes infoHide {
    0% {top: -3rem;}
    6% {top: 0;}
    78% {top: 0;}
    100% {top: -3rem;}
  }
    /*tot hier*/

.succesAlert{
    background-color: greenyellow;
}
.succesAlert > p {
    color: green;

}
.failAlert{
    background-color: rgb(255, 171, 75);
}
.failAlert > p{
    color: rgb(197, 0, 0);

}