nav ul{

     all: unset; /*this fixes nav only for drawpage */
    display: flex;
    flex-wrap: wrap;
   
    list-style-type: none;
    text-decoration: none;
}


.sub-header{
    padding: 0.6rem 1.5rem 0.6rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: sub-header;
    background-color:var(--subHeader-colour);
    position: sticky;
    top: 0;
    z-index: 1;
}

.sub-header :nth-child(2){
    display: flex;
    margin: auto;
    align-items: center;
}


h2{

    font-size: 1.8rem;
   
}
#btnDrawTest{
    padding: 0.3rem;
    margin-right: 2rem;
    background: rgb(122, 55, 55);
    border: none;
    color: white;
     border-radius: 5px;
    cursor: pointer;
    
}

#btnDrawTest:hover {
    background-color: rgb(91, 32, 32);
  }


#drawPile{

    width: 8rem;
    height: auto;
}
#layout{
    display: flex;
    flex-direction: row;
}

#previewDraw{
    display: flex;
    flex-direction: row-reverse;    /*make reverse for ordering*/
    flex-wrap: wrap;
    gap: 1.5rem;
    

    margin-top: 5rem;
    
     -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg); 


    

}
#previewDraw>li{
    -moz-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg);
    display:inline-block;
}
#formDraw{

    margin-left: 15%;
    margin-right: auto;
    margin-top: 4rem;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

   
}
#formDraw img {
    display: block;
    
    margin-left: auto;
    margin-right: auto;
   
    
    
}
#formDraw>*:not(:first-child) button {
    margin-left: 35%;
} 



#drawButton{
    align-self: center;
    padding: 0.3rem;
    margin-right: 6rem;
}

#forms-draw{

    display: flex;
    flex-direction: row;
    margin: 2rem;
    
    min-width: 30%;

}

#draw-chance{

    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    align-items: center;

    background-color: burlywood;
    padding: 1rem;
    border-radius: 0.9rem;

    display: flex;
    flex-direction: column;
    
}



