    <modal id="cardM">
    
        <button class="hideM">X</button>
        <!-- IFrame moet nog via js aanpasbaar worden
        maar gezien we voorlopig maar 1 carddetail page hebben, heb ik daar nu men tijd niet in gestoken -->
        <iframe src="/cardDetails/<%="Test"%>"></iframe>

    </modal>