<modal id="deckRemoveM">
    
    <button class="hideM">X</button>
    <form method="post" class="modal-form">
        <label for="deckName">Wxeet u zeker dat u:<br>"<%=deck.name%>" wilt verwijderen?</label>
        <input type="number" id="removeDeck" name="removeDeck" value="1" hidden required>
        <br>
        <button id="request-login-btn" type="submit">Ja</button>
    </form>
</modal>