    <modal id="deckNameM">
    
        <button class="hideM">X</button>
        <form method="post" class="modal-form">
            <input type="number" name="deckRename" value="1" hidden required>
            <label for="deckName">Hernoem "<%=deck.name%>"<br>naar:</label>
            <input type="text" id="deckName" name="deckName" required>
            <br>
            <button id="request-login-btn" type="submit">Bevestigen</button>
        </form>
    </modal>