    <modal id="loginM">
    
        <button class="hideM">X</button>
        <form action="#" onsubmit="setLoginStatus()" class="modal-form">
            <label for="username">Gebruikersnaam</label>
            <br>
            <input type="text" id="username" required>
            <br>
            <label for="password">Paswoord</label>
            <br>
            <input type="text" id="password" required>
            <br>
            <button id="request-login-btn" type="submit">Aanmelden</button>
        </form>
    </modal>