
    <modal id="logoutM">
    
        <button class="hideM">X</button>
        <form action="/logout" class="modal-form">
            <p>Weet u zeker dat u wilt:</p>
            <br>
            <button type="submit">Afmelden</button>
        </form>
    
    </modal>